@(announcement: Announcement, collection: Collection, home: Boolean = false)(implicit user: User)

@defining(announcement.getUser){ announcer =>
    <div class="announcement">
        @if(!home && user.hasCollectionPermission(collection, "makeAnnouncement")) {
            <a data-id="@announcement.id.get" role="button" class="btn btn-mini btn-magenta"><i class="icon-trash"></i></a>
        }
        @announcement.content
        <div class="info">
            By @announcer.displayName on @service.TimeTools.prettyTime(announcement.timeMade)
            <br>for <a href="@routes.Collections.view(collection.id.get)">@collection.name</a>
        </div>
    </div>
}
