@(collections: List[Collection])(implicit request: RequestHeader, user: User) @main("Y-Video - Collection Directory", Some(user)) {

<div class="padded">
    <h1>Collection Directory</h1>

    <p>The following is a complete list of all the collections on Y-Video</p>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Collection Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(collection
                        <- collections.sortWith(_.name < _.name)) { <tr>
                            <td><a href="@routes.Collections.view(collection.id.get)">@collection.name</a></td>
                            </tr>
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

}
