@(collection: Collection, linkedCourses: String, exceptions: String, tas: String)(implicit request: RequestHeader, user: User)
@import scala.reflect.runtime.universe._

@main("Y-Video - " + collection.name, Some(user),
  Local(
    Rel("stylesheets/", CSS("collection.css"), CSS("content.css")),
    Rel("javascripts/",
      JS("contentSelection/PopupBrowser.js")))
) {

    <script type="text/javascript">
        var collectionId = @collection.id.get;
    </script>

    <div class="collectionBackground">
        <div class=container-fluid>
            <div class="collectionTitle">
                <h1>@collection.name</h1>
                @if(user.isCollectionTA(collection)) {
                    <a href="#studentInfoModal" role="button" class="btn btn-gray" data-toggle="modal"><i class="icon-user"></i> Members</a>
                }
                @if(user.isCollectionTA(collection)) {
                    <a href="#editCollectionModal" role="button" class="btn btn-yellow" data-toggle="modal"><i class="icon-pencil"></i> Collection Options</a>
                }
            </div>
        </div>
    </div>

    <div class="padded">
        <div class="row">
            <div class="container-fluid">
                <div id="collectionContent"></div>
            </div>
            <script type="text/javascript">
                @defining(collection.getContentFor(user)) { content =>
                $(function() {
                    ContentItemRenderer.renderAll({
                        content: [@Html(content.map(_.toJson).mkString(","))],
                        holder: document.getElementById("collectionContent"),
                        format: "table",
                        sizing: true,
                        sorting: true,
                        filters: ContentItemRenderer.standardFilters,
                        collectionId: collectionId
                    });
                });
                }
            </script>
        </div>
    </div>

    @views.html.collections.helpers.editCollection(user, collection, linkedCourses, exceptions, tas)
    @views.html.collections.helpers.deleteCollection(user, collection)
    @views.html.collections.helpers.studentInfo(user, collection)
}
