@import models.CoursePermissions.descriptionMap
@(user: User, course: Course)(implicit request: RequestHeader)

@if(user.hasCoursePermission(course, "teacher") || user.hasCoursePermission(course, "viewData")) {
<div id="addTAModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addTAModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3 id="addTAModalLabel">Add a Teacher's Assistant</h3>
    </div>
    <div class="modal-body">
        <p>
            TAs you add here will be able to add and remove content from your courses, and edit the subtitles and other metadata of content. They will essentially have the same rights that you have for this course.
        </p>
        <form method="POST">
            <label>Input Teacher's Assistant netID:</label><input id="ta_netid" name="netid" type="text"><br><input id="addTA" class="btn btn-magenta" type="submit" value="Submit">
        </form>
    </div>
</div>

<script>
    document.getElementById("addTA").addEventListener('click', function(e) {
        e.preventDefault();
        var netid = document.getElementById("ta_netid").value;
        if (netid === "") {
            console.log("netid empty");
        } else {
            var formData = new FormData();
            formData.append("netid", netid);
            $.ajax("/course/@{course.id.get}/addTA", {
                type: "post",
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function(data) {
                    alert("success");
                },
                error: function(data) {
                    console.log(data);
                    alert(data.responseText);
                }
            });
        }
    });
</script>
}
