@(contentList: List[(models.Content, User)], resourceLibraryUrl: String)(implicit request: RequestHeader, user: User)

@main("Y-Video - Manage Content", Some(user), Local(CSS("stylesheets/admin.css"))) {

    @Dependencies(Extern("Ayamel.js",Rel("js/",JS("Resource.js"), JS("LangCodes.js"))))

    <div class="adminBackground">
    </div>

    <div class="padded">

        @views.html.admin.navbar("content")

        <h1>Manage Content</h1>

        <a href="#batchEditModal" role="button" class="btn btn-blue pad-bottom-high" data-toggle="modal"><i class="icon-edit"></i> Batch edit</a>

        <table class="table table-bordered table-striped table-condensed adminTable">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Language</th>
                <th>Resource Id</th>
                <th>Type</th>
                <th>Actions</th>
                <th></th>
            </tr>
            @for((content, user) <- contentList) {
                <tr id="@content.resourceId">
                    <td>@content.id.get</td>
                    <td>@content.name</td>
                    <td data-toggle="tooltip" @if(user.email.isDefined) { title="@user.email.get" }>
                        @user.username
                    </td>
                    <td class="lang"></td>
                    <td>@content.resourceId</td>
                    <td>@content.contentType.name</td>
                    <td>
                        <a target="_blank" href="@routes.ContentController.view(content.id.get)" class="btn btn-gray">View</a>
                        <form method="POST" action="@routes.ContentController.delete(content.id.get)">
                            <button class="btn btn-magenta">Delete</button>
                        </form>
                    </td>
                    </td>
                    <td>
                        <input type="checkbox" class="contentSelector" data-id="@content.id.get">
                    </td>
                </tr>
            }
        </table>

        <a href="#batchEditModal" role="button" class="btn btn-blue" data-toggle="modal"><i class="icon-edit"></i> Batch edit</a>

    </div>

    <script type="text/javascript">
        $(function(){
            $("#batchEditModal").on("show", function(){
                var ids = $(".contentSelector:checked").map(function(e, f){return $(f).attr("data-id");}).toArray().join(",");
                document.getElementById("ids").value = ids;
            });

            ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
            var rows = document.getElementsByTagName("tr");

            [].forEach.call(rows, function(row){
                if (row.id.length == 24) {
                    var langCol = row.querySelector(".lang");
                    ResourceLibrary.load(row.id).then(function(resource){
                        langCol.innerHTML = Ayamel.utils.getLangName(resource.languages.iso639_3[0]);
                    });
                }
            });
        });
    </script>

}
