@(settings: List[Setting])(implicit request: RequestHeader, user: User)

@checked(name: String, value: String = "true") = {
    @if(settings.find(_.name == name).get.value == value) {
        checked="checked"
    }
}

@setVal(name: String) = @{settings.find(_.name == name).get.value}

@settingCheckBox(name: String, description: String) = {
    <div class="form-group">
        <label class="control-label" for="@{name}_checkbox">@description</label>
        <div class="controls">
            <input type="checkbox" id="@{name}_checkbox" @checked(name) >
            <input type="hidden" name="@name" id="@{name}_hidden" value="@setVal(name)">
        </div>
    </div>
}

@settingTextField(name: String, description: String) = {
    <div class="form-group">
        <label class="control-label" for="@name">@description</label>
        <div class="controls">
            <input type="text" id="@name" name="@name" placeholder="Nothing" value="@setVal(name)">
        </div>
    </div>
}

@main("Y-Video - Settings", Some(user),
  Local(Rel("stylesheets/", CSS("admin.css"), CSS("home.css")))
) {
    <div class="adminBackground">
    </div>

    <div class="padded">
        <div class="container-fluid">

            @views.html.admin.navbar("settings")

            <marquee>Deleted.</marquee>
        </div>
    </div>

    <!-- TODO: Eliminate the hidden form fields -->
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]").click(function() {
                $(this).next().val("" + $(this).is(":checked"));
            });
        });
    </script>

}
