.feedbackCategory {
    width: 100px;
}

.icon-star-empty.starTool {
    color: #F5B642;
    cursor: pointer;
}

.icon-star-empty.starTool:hover:before,
.icon-star-empty.starTool.selected:before {
    content:"\f005";
}