body {
    background: url("../images/index/background.jpg") top center no-repeat;
}

#titles {
    position: relative;
    /*width: 900px;
    height: 50px;*/
    margin: 10px auto 80px auto;
}

.title {
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity ease 0.5s;
    -moz-transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s;
}

.title.active {
    opacity: 1;
}

.title h1 {
    color: white;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.7);

}

.getStarted {
    background: rgba(0,0,0,0.35);
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding: 25px;
    margin: 20px auto;
    width: 450px;
    color: white;
}

#aboutAyamel {
    background: rgba(0,0,0,0.35);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    margin: 30px auto;
    width: 95%;
}

.ayamel-icon {
    background: url("../images/index/ayamel-icon.png") center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.yellow a {
    color: #FFE726;
}

.yellow a:hover {
    color: #FCF08D;
}

.closing {
    background: rgba(0,0,0,0.35);
    width: 100%;
    text-align: center;
    padding: 7px 0;
    color: white;
    bottom:0
}

.closing div {
    display: inline-block;
    margin: 10px;
}