@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

@font-face {
    font-family: 'RawengulkSans';
    src: url('../font/RawengulkSans-094.otf') format('opentype'),
    url('../font/RawengulkSans-094.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*background-color: #000;*/
    /*background-color: #002040;*/
    background-image: url(../images/jfsb_background_blurred.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 70%;
}

body.embed {
    overflow: hidden;
    background-color: #fff;
    padding: 0;
}

.collectionBackground {
    margin-bottom: 20px;
}

.collectionTitle {
    color: white;
}

.embedHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0,0,0,0.5);
    color: white;
    z-index: 100;

    -webkit-transition: 0.4s ease top;
    -moz-transition: 0.4s ease top;
    -ms-transition: 0.4s ease top;
    -o-transition: 0.4s ease top;
    transition: 0.4s ease top;
}

.embedHeader.outOfTheWay {
    top: -40px;
}

.embedHeader.outOfTheWay:hover {
    top: 0;
}

.embedHeader h3 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.embedContainer {
    width: 800px;
    height: 600px
}

.embedContainer.audio1 {
    width: 520px;
    height: 130px
}

.embedContainer.audio2 {
    width: 840px;
    height: 200px
}

.embedContainer.video1 {
    width: 800px;
    height: 515px
}

.embedContainer.video2 {
    width: 840px;
    height: 375px
}

.embedContainer audio {
    margin-top: 75px;
    width: 100%;
}

td {
    text-overflow: ellipsis;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header bar */
.headerBar {

    font-family: 'Source Sans Pro', sans-serif;

    color: white;
    min-height: 40px;


    background-color: #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#494949', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.headerBar .logo {
    background: url("../images/logo-small-light.png") top left no-repeat;
    width: 137px;
    height: 37px;
    margin-top: 2px;
}

.headerBar .links {
    margin-top: 8px;
}

.headerBar .links > .link {
    display: inline-block;
    margin: 0 15px;
    color: white;
    font-size: 16px;
    position: relative;
}

.profileIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #000;
    background-size: cover;
    background-position: center;
    margin-bottom: -11px;
    margin-top: -2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
 }

.link:hover .profileIcon {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.headerDropdown {
    display: none;
    position: absolute;
    background: #333;
    z-index: 5;
    padding: 10px;
    top: 40px;
    left: 50%;
    width: 200px;
    margin-left: -109px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.headerDropdown > div.dropdownPoint {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    padding: 0;
}

.headerDropdown > div.dropdownPoint.light {
    top: -19px;
    border-bottom: 20px solid #666;
}

.headerDropdown > div {
    padding: 5px
}

.headerDropdown > div > a {
    display: block;
}

.headerDropdown .displayName {
    text-align: center;
    font-style: italic;
    margin: -10px -10px 0 -10px;
    background: #666;
    border-bottom: 1px solid #000;
    border-top: 1px solid #ddd;;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
}

.headerBar .links > .link a {
    color: white;
}

.headerBar .links > .link a:hover {
    text-shadow: 0 0 5px rgba(255,255,255,0.8);
    text-decoration: none;
}

.headerBar .searchBox {
    padding: 4px 10px;
    height: 15px;
    width: 75px;
    margin: 0 0 0 5px;
    background: rgba(0,0,0,0.1);

    -webkit-box-shadow: inset 2px 3px 12px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 2px 3px 12px rgba(0,0,0,0.4);
            box-shadow: inset 2px 3px 12px rgba(0,0,0,0.4);

    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;

    border-left: none;
    border-right: none;
    border-top: rgba(0,0,0,0.6) 1px solid;
    border-bottom: rgba(255,255,255,0.5) 1px solid;
    color: white;

    -webkit-transition: width ease 0.6s;
    -moz-transition: width ease 0.6s;
    -ms-transition: width ease 0.6s;
    -o-transition: width ease 0.6s;
    transition: width ease 0.6s;
}

.headerBar .searchBox:focus {
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: rgba(0,0,0,0.6) 1px solid;
    border-bottom: rgba(255,255,255,0.5) 1px solid;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 3px 4px 18px rgba(0,0,0,0.7);
       -moz-box-shadow: inset 3px 4px 18px rgba(0,0,0,0.7);
            box-shadow: inset 3px 4px 18px rgba(0,0,0,0.7);

}

/* Main content */
.mainContent {
    overflow: hidden;
    position: relative;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: 0 0 50px black;
    border-radius: 5px;
}

.mainContent hr {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #fff;
}

.padded {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Messages */

.messageContainer {
    position: absolute;
    top: 25px;
    width: 500px;
    margin-left: -250px;
    left: 50%;
}

.messageContainer .alert {
    -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}

/*
 * Special colored buttons
 */

.btn-black { 
  color: #ffffff; 
  background-color: #525252; 
} 
 
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  color: #ffffff; 
  background-color: #000; 
} 
 
.btn-black:active, 
.btn-black.active, 
.open .dropdown-toggle.btn-black { 
  background-image: none; 
} 
 
.btn-black.disabled, 
.btn-black[disabled], 
fieldset[disabled] .btn-black, 
.btn-black.disabled:hover, 
.btn-black[disabled]:hover, 
fieldset[disabled] .btn-black:hover, 
.btn-black.disabled:focus, 
.btn-black[disabled]:focus, 
fieldset[disabled] .btn-black:focus, 
.btn-black.disabled:active, 
.btn-black[disabled]:active, 
fieldset[disabled] .btn-black:active, 
.btn-black.disabled.active, 
.btn-black[disabled].active, 
fieldset[disabled] .btn-black.active { 
  background-color: #525252; 
} 
 
.btn-black .badge { 
  color: #525252; 
  background-color: #ffffff; 
}

.btn-yellow { 
  color: #000; 
  background-color: #EBE561; 
} 
 
.btn-yellow:hover, 
.btn-yellow:focus, 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  color: #000; 
  background-color: #D1CC56; 
} 
 
.btn-yellow:active, 
.btn-yellow.active, 
.open .dropdown-toggle.btn-yellow { 
  background-image: none; 
} 
 
.btn-yellow.disabled, 
.btn-yellow[disabled], 
fieldset[disabled] .btn-yellow, 
.btn-yellow.disabled:hover, 
.btn-yellow[disabled]:hover, 
fieldset[disabled] .btn-yellow:hover, 
.btn-yellow.disabled:focus, 
.btn-yellow[disabled]:focus, 
fieldset[disabled] .btn-yellow:focus, 
.btn-yellow.disabled:active, 
.btn-yellow[disabled]:active, 
fieldset[disabled] .btn-yellow:active, 
.btn-yellow.disabled.active, 
.btn-yellow[disabled].active, 
fieldset[disabled] .btn-yellow.active { 
  background-color: #EBE561; 
} 
 
.btn-yellow .badge { 
  color: #EBE561; 
  background-color: #000; 
}

 .btn-magenta { 
  color: #FFFFFF;
  background-color: #E7495F;  
} 
 
.btn-magenta:hover, 
.btn-magenta:focus, 
.btn-magenta:active, 
.btn-magenta.active, 
.open .dropdown-toggle.btn-magenta { 
  color: #FFFFFF; 
  background-color: #CD4155; 
} 
 
.btn-magenta:active, 
.btn-magenta.active, 
.open .dropdown-toggle.btn-magenta { 
  background-image: none; 
} 
 
.btn-magenta.disabled, 
.btn-magenta[disabled], 
fieldset[disabled] .btn-magenta, 
.btn-magenta.disabled:hover, 
.btn-magenta[disabled]:hover, 
fieldset[disabled] .btn-magenta:hover, 
.btn-magenta.disabled:focus, 
.btn-magenta[disabled]:focus, 
fieldset[disabled] .btn-magenta:focus, 
.btn-magenta.disabled:active, 
.btn-magenta[disabled]:active, 
fieldset[disabled] .btn-magenta:active, 
.btn-magenta.disabled.active, 
.btn-magenta[disabled].active, 
fieldset[disabled] .btn-magenta.active { 
  background-color: #E7495F; 
} 
 
.btn-magenta .badge { 
  color: #E7495F; 
  background-color: #FFFFFF; 
}

.btn-blue { 
  color: #FFFFFF; 
  background-color: #2788B6; 
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  color: #FFFFFF; 
  background-color: #22759C; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
  background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
  background-color: #2788B6; 
} 
 
.btn-blue .badge { 
  color: #2788B6; 
  background-color: #FFFFFF; 
}

.btn-gray { 
  color: #000000; 
  background-color: #E0E0E0; 
} 
 
.btn-gray:hover, 
.btn-gray:focus, 
.btn-gray:active, 
.btn-gray.active, 
.open .dropdown-toggle.btn-gray { 
  color: #000000; 
  background-color: #A9A9A9; 
} 
 
.btn-gray:active, 
.btn-gray.active, 
.open .dropdown-toggle.btn-gray { 
  background-image: none; 
} 
 
.btn-gray.disabled, 
.btn-gray[disabled], 
fieldset[disabled] .btn-gray, 
.btn-gray.disabled:hover, 
.btn-gray[disabled]:hover, 
fieldset[disabled] .btn-gray:hover, 
.btn-gray.disabled:focus, 
.btn-gray[disabled]:focus, 
fieldset[disabled] .btn-gray:focus, 
.btn-gray.disabled:active, 
.btn-gray[disabled]:active, 
fieldset[disabled] .btn-gray:active, 
.btn-gray.disabled.active, 
.btn-gray[disabled].active, 
fieldset[disabled] .btn-gray.active { 
  background-color: #BBBBBB; 
} 
 
.btn-gray .badge { 
  color: #BBBBBB; 
  background-color: #000000; 
}

/* */

.navbar .brand {
    margin: 0 0 -26px -42px;
    padding: 0 20px 0 0;
}

.inline-block {
    display: inline-block;
}


/* General padding classes */

.pad-left-low  { margin-left: 5px; }
.pad-left-med  { margin-left: 10px; }
.pad-left-high { margin-left: 15px; }

.pad-right-low  { margin-right: 5px; }
.pad-right-med  { margin-right: 10px; }
.pad-right-high { margin-right: 15px; }

.pad-top-low  { margin-top: 5px; }
.pad-top-med  { margin-top: 10px; }
.pad-top-high { margin-top: 15px; }

.pad-bottom-low  { margin-bottom: 5px; }
.pad-bottom-med  { margin-bottom: 10px; }
.pad-bottom-high { margin-bottom: 15px; }

.footer {
    min-height: 50px;
    font-size: 11px;
    padding: 20px 0;
    text-align: center;
}

.label-blue, .badge-blue {
    background-color: #2184AE;
}
.label-yellow, .badge-yellow {
    background-color: #FFE726;
}
.label-magenta, .badge-magenta {
    background-color: #DE2174;
}

.label.label-yellow, .badge.badge-yellow {
    color: #555;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
}

.color-blue {
    color: #2184AE;
}
.color-yellow {
    color: #FFE726;
}
.color-magenta {
    color: #DE2174;
}

.color-light-blue,
.btn.color-light-blue, .btn.color-light-blue:hover {
    color: #68BEE3;
}
.color-light-yellow,
.btn.color-light-yellow, .btn.color-light-yellow:hover {
    color: #FCF08D;
}
.color-light-magenta,
.btn.color-light-magenta, .btn.color-light-magenta:hover {
    color: #FCB3D3;
}

/* Special modal classes */

.modal.bigModal {
    width: auto;
    height: auto;
    left: 30px;
    margin: 0;
    bottom: 30px;
    right: 30px;
}

.bigModal.fade {
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.bigModal.fade.in, .bigModal.fade.out {
    top: 30px;
}

.bigModal .modal-body {
    max-height: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 49px;
    bottom: 65px;
}

.bigModal .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}

.bigModal .modal-footer > div {
    padding: 14px 15px 15px;
}

.control-label {
    text-align: left !important;
    max-width: 95%;
}

button:focus, a:focus {outline: none !important;}