@(user: User, collection: Collection)(implicit request: RequestHeader)

@if(user.hasCollectionPermission(collection, "editCollection")) {
    <div id="editCollectionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCollectionModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="editCollectionModalLabel">Edit collection</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" method="post" action="@routes.Collections.edit(collection.id.get)">
                  <div class="container-fluid">
                    <div class="form-group">
                      <label class="control-label" for="collectionName">Name</label>
                      <div class="controls">
                        <input type="text" id="collectionName" name="name" value="@collection.name" maxlength="60" pattern=".{1,60}" required />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="controls">
                        <button type="submit" class="btn btn-gray">Save changes</button>
                      </div>
                    </div>
                  </div>  
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-blue" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
          </div>
        </div>
    </div>
}
