@(user: User, collection: Collection)(implicit request: RequestHeader)

<div id="quitCollectionModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="quitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="quitModalLabel">Quit collection</h3>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to quit @collection.name?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-gray" data-dismiss="modal" aria-hidden="true">No</button>
                <form action="@routes.Collections.quitCollection(collection.id.get)" method="POST">
                    <button class="btn btn-magenta">Yes, Quit</button>
                </form>
            </div>
        </div>
    </div>
</div>
