@()(implicit request: RequestHeader, user: User)

@main("Y-Video - About Y-Video", Some(user)){
    <div class="padded">
        <h1>About Y-Video</h1>

        <p>
            Y-Video is an internet browser based system for streaming video and audio content, especially designed for learning a foreign language by providing additional to be used in conjunction with the media, such as captions and annotations. The audio and video content provided through Y-Video is for BYU-Provo educational use only, and cannot be used for any other purpose beyond classroom teaching or class assignments.
        </p>

        <p>
            A key feature of Y-Video is the directl interaction with subtitle tracks to quickly access translations of words and phrases and view relevant annotations. The translations are taken from our own BYU dictionary web service, the WordReference.com translation API, Merriam-Webster Dictionary/Translation APIs, and the Google Translate API. Teachers or course designers can aggregate media into a single location and set up specific conditions to optimize the learning experience.
        </p>
        
    </div>
}