@(path: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
<head>
    <title>Y-Video</title>
    @Dependencies(
      Local(
        Icon("images/favicon.png", "image/png"),
        Rel("stylesheets/",
          CSS("bootstrap.min.css"),
          CSS("bootstrap-responsive.min.css"),
          CSS("font-awesome.min.css"),
          CSS("main.css"),
          CSS("index.css")),
        Rel("javascripts/",
          Rel("libraries/",
            JS("jquery.min.js"),
            JS("bootstrap.min.js")),
          JS("pageScripts/index.js")))
    )
</head>
<body>

    <div class="container-fluid">
        <div class="text-center">
            <img src="@routes.Assets.at("images/logo.png")" style="height: 200px; margin-top: 20px;">
        </div>

        <div class="getStarted">

            @if(request.flash.get("alert").isDefined) {
                <div class="alert alert-warning">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Just a sec...</strong> @request.flash("alert")
                </div>
            }
            @if(request.flash.get("error").isDefined) {
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Oh snap!</strong> @request.flash("error")
                </div>
            }
            @if(request.flash.get("success").isDefined) {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Alright!</strong> @request.flash("success")
                </div>
            }
            @if(request.flash.get("info").isDefined) {
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>Heads up.</strong> @request.flash("info")
                </div>
            }

            <div class="text-center">
                <a href="/auth/cas" class="btn btn-yellow btn-lg" data-toggle="modal">Admin Login</a>
            </div>

        </div>
</body>
</html>
