@import play.api.Play.current
@(content: models.Content, resourceLibraryUrl: String, user: Option[User] = None, collection: Option[Collection] = None)(implicit request: RequestHeader)

@contentIcons = @{
    Map(
        'video -> "icon-film",
        'audio -> "icon-volume-up",
        'image -> "icon-picture",
        'text -> "icon-file",
        'playlist -> "icon-list-ol",
        'activity -> "icon-pencil"
    )
}

@main("Y-Video - " + content.name, user,
  Meta("og:image", content.thumbnail),
  Local(
    Rel("javascripts/",
      Rel("libraries/",
        JS("sha1.js"),
        JS("xapiwrapper.min.js"),
        JS("oauth.js")),
      Rel("formFixes/",
        JS("fileFix.js"),
        JS("labelsInput.js")),
      JS("ContentSettings.js")))
) {
    @views.html.content.header.includes()
    <script type="text/javascript">
        ResourceLibrary.setBaseUrl("@resourceLibraryUrl");
        var content = @Html(content.toJson.toString());

        //The "add content" page submits its form via AJAX; I don't recall why it was done that way,
        //and therefore am reluctant to change it. It overwrites itself with the text of returned pages,
        //which does not change the URL, which means that this page may end up overwriting the add
        //content page at the wrong address. If that happens, we need to re-write history to display
        //the correct URL for this page here.
        if(location.pathname !== "/content/@{content.id.get}" && history.pushState){
            history.pushState(null, "Y-Video - @{content.name}", "/content/@{content.id.get}");
        }

        function setupXapi(args) {
            // information for statements to learninglocker
            var llendpoint = "@current.configuration.getString("learninglocker.endpoint")";
            var llusername = "@current.configuration.getString("learninglocker.username")";
            var llpwd = "@current.configuration.getString("learninglocker.password")";

            // configure the learning locker connection
            xApi.connect(llendpoint, llusername, llpwd);

            xApi.registerPage({
                page:{
                    "category":"content",
                    "action":"@{collection.map(c => "collection_" + c.id.get + ":").getOrElse("")}view",
                    "name":window.location.href
                },
                @if(collection.isDefined) {
                    collection: {
                        "id":@collection.get.id.get,
                        "name":"@collection.get.name"
                    },
                }
                user: {
                    "name":"@user.flatMap(_.name).orElse(user.map(_.authId)).getOrElse("Visitor")",
                    "id":@user.map(_.id.get).getOrElse(0),
                    "email":"@user.flatMap(_.email).getOrElse("")",
                    "authScheme":"@user.map(_.authScheme.toString.replaceFirst("'", "")).getOrElse("Not Authenticated")"
                },
                content: content,
                player: args.mainPlayer
            });

            // Save the page load
            xApi.predefined.pageLoad();
        }
    </script>
    <div class="padded">
        @if(collection.isDefined) {
            <ul class="breadcrumb">
                <li><a href="@routes.Collections.view(collection.get.id.get)">@collection.get.name</a> <span class="divider"></span></li>
                <li class="active">@content.name</li>
            </ul>
        }
        @if(user.isDefined) {
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#contentNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="contentNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="icon-quote-left"></i> Text <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    @if(content.contentType == 'video || content.contentType == 'audio) {
                                        <li><a href="#captionTrackModal" data-toggle="modal"><i class="captionsIcon"></i> Captions/Subtitles</a></li>
                                    }
                                    <li><a href="#annotationsModal" data-toggle="modal"><i class="icon-comments"></i> Annotations</a></li>
                                </ul>
                            </li>
                            @if(collection.isDefined) {
                                @if(user.get.isCollectionTA(collection.get)) {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="icon-book"></i> Collection <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                          @if(user.get.isCollectionTA(collection.get)) {
                                            <li><a href="#" id="collectionremovebtn"><i class="icon-remove"></i> Remove from collection</a></li>
                                            <script>
                                                document.getElementById("collectionremovebtn").addEventListener("click",function(){
                                                    var xhr = new XMLHttpRequest();
                                                    xhr.addEventListener('load',function(){
                                                        if(history.pushState){ history.pushState(null,"",xhr.responseURL); }
                                                        document.open();
                                                        document.write(xhr.responseText);
                                                        document.close();
                                                    },false);
                                                    xhr.addEventListener('error',function(){ alert("Error removing content"); },false);
                                                    xhr.open("POST", "@routes.CollectionContent.removeFromCollection(content.id.get, collection.get.id.get)");
                                                    xhr.send();
                                                },false);
                                            </script>
                                          }
                                        </ul>
                                    </li>
                                }
                            }
                            
                            @if(content.isEditableBy(user.get)) {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-pencil"></i> Edit <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#metadataModal" data-toggle="modal"><i class="icon-info-sign"></i> Edit metadata</a></li>
                                        <li><a href="#thumbnailModal" data-toggle="modal"><i class="icon-camera"></i> Set thumbnail</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#changeSourceModal" data-toggle="modal"><i class="icon-link"></i> Set media source</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#deleteModal" data-toggle="modal"><i class="icon-trash"></i> Delete</a></li>
                                    </ul>
                                    @views.html.content.header.settings(content, resourceLibraryUrl, user.get)
                                </li>
                                <li class="dropdown" id="downloadButton">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="icon-download"></i> Download <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" id="downloadMenu"></ul>
                                </li>
                                <li><a href="#configurationModal" data-toggle="modal"><i class="icon-cogs"></i> Configuration</a></li>
                                @views.html.content.header.configuration(content, resourceLibraryUrl, collection, user.get)
                            }
                            @if(user.get.hasSitePermission("createContent")) {
                                <li><a href="#" id="clonebtn"><i class="icon-copy"></i> Clone</a></li>
                                <script>
                                    document.getElementById("clonebtn").addEventListener("click",function(){
                                        var xhr = new XMLHttpRequest();
                                        xhr.addEventListener('load',function(){
                                            if(history.pushState){ history.pushState(null,"",xhr.responseURL); }
                                            document.open();
                                            document.write(xhr.responseText);
                                            document.close();
                                        },false);
                                        xhr.addEventListener('error',function(){ alert("Error cloning content"); },false);
                                        xhr.open("POST", "@routes.ContentController.cloneContent(content.id.get)");
                                        xhr.send();
                                    },false);
                                </script>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            @views.html.content.header.addRelatedDocs(content, collection, resourceLibraryUrl, user.get)
        }
        <div id="contentHolder" class="@content.contentType.name"></div>
        <div>
            <h1>
                <i class="@contentIcons(content.contentType)"></i> @content.name
            </h1>
            <p id="metadataDescription"></p>
            <div class="inline-block">
                <div id="metadataContainer">
                    <div id="metadataLanguages"><i class="icon-globe"></i> </div>
                    <div id="metadataLabels"><i class="icon-tags"></i> </div>
                </div>
            </div>
            <!-- TODO: Metadata. Issue # 54 -->
        </div>
        <script type="text/javascript">
            $(function() {
                // Set up the playlist renderer
                @*PlaylistRenderer.setInfo(*@
                    @*"@dataAccess.PlayGraph.host",*@
                    @*["@dataAccess.PlayGraph.playerKey.consumerKey", "@dataAccess.PlayGraph.playerKey.consumerSecret"]*@
                @*);*@

                // Render the content
                ContentLoader.render({
                    content: content,
                    @if(user.isDefined) {
                    userId: "@user.get.id.get",
                    owner: @content.isEditableBy(user.get),
                    teacher: @collection.exists(c => user.get.isCollectionTeacher(c)),
                    }
                    collectionId: @collection.map(_.id.get).getOrElse(0),
                    holder: document.getElementById('contentHolder'),
                    annotate: true,
                    open: true,
                    screenAdaption: {
                        fit: true,
                        scroll: true,
                        padding: 61
                    },
                    aspectRatio: Ayamel.aspectRatios.hdVideo,
                    startTime: "@request.queryString.get("starttime").getOrElse("0")",
                    endTime: "@request.queryString.get("endtime").getOrElse("-1")",
                    callback: setupXapi
                });

                // Show the metadata
                ResourceLibrary.load(content.resourceId).then(function(resource){
                    var title = resource.title,
                        descEl = document.getElementById("metadataDescription");

                    resource.description.split('\n').forEach(function(text){
                        descEl.appendChild(document.createTextNode(text));
                        descEl.appendChild(document.createElement('br'));
                    });

                    document.getElementById("metadataLanguages").firstChild.innerHTML =
                        resource.languages.iso639_3.map(function(langCode) {
                            return '<em class="pad-left-high">' + Ayamel.utils.getLangName(langCode) + '</em>';
                        }).join('');

                    document.getElementById("metadataLabels").firstChild.innerHTML =
                        content.labels
                        .map(function(w){return "<span class='label label-info pad-left-med'>" + w + "</span>";})
                        .join('');

                @if(user.map(content.isEditableBy(_)).getOrElse(false)){
                    var downloads = resource.content.files
                            .filter(function(fobj){return fobj.downloadUri;});
                    if(downloads.length > 0){
                        document.getElementById("downloadMenu").innerHTML = downloads.map(function(fobj){
                            return '<li><a href="'+fobj.downloadUri+'" target="_blank" download="'+title+'">'+fobj.representation+': '+fobj.mime+' ('+(fobj.bytes/1024)+'KB)</a></li>';
                        }).join('');
                    }else{
                        document.getElementById("downloadButton").style.display = "none";
                    }
                }
                });
            });
        </script>

        <!-- For scaling modals when too window is too short -->
        <script>
            window.addEventListener("resize", function(){
                var modalBody = document.getElementById('thumbnailBody');
                if(window.innerHeight < 550){
                    modalBody.style.maxHeight = window.innerHeight-200 + "px";
                    return;
                }
                modalBody.style.maxHeight = "400px";
            });
        </script>
    </div>
}
